################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsApplication/obj/Debug
/.vs
/WindowsApplication/bin/Debug
/WindowsApplication/obj
